.navbarStyle{
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section1{
    width: 230px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;
    height: fit-content;
}
.section2{
    width: fit-content;
    height: fit-content;
    margin-right: 5vw;
}